
#logo-header{
    width: 10%;
}
h1{color:black}
.navbar-light{
    background-color: #F8F9FC;
}
.navbar-brand{
    font-size: medium;
}
body{
    background-color: black
    ;
    color: #F8F9FC
    ;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
#descripcion_foto{
    color: #F8F9FC;
    width: 30%;
    font-size: 3vw;
}
#descmerc{
    background-color: black;
    margin-bottom: 100px;
    padding: 10px;
    color: black;
    transition: 1s;
    margin-top: 100px;
}

#fotoautos{
    width: 100%;
    margin-bottom: 0px;

}
.carousel-caption{
    top: 20%;
    bottom: auto;
    left: 20px;
    
}
.carousel-item{
    padding: 0px;
    margin: 0px;
}
.container-fluid{
    padding: 0px;
}

@keyframes descripcion_mercedes{
    0% {color:black}
    100%{color:#F8F9FC}
}
/*#descw13{
    color: #F8F9FC;
    animation-name: descripcion_mercedes;
    animation-duration: 10s;
}
*/

#descmerc:hover{
color: #F8F9FC;
}

.row{width: 100%!important;
margin: 0px;}

#descrb{
    background-color: black;
    margin-bottom: 100px;
    padding: 10px;
    color: black;
    transition: 1s;
    margin-top: 100px;
}
#descrb:hover{
    color: #F8F9FC;
    }
#captionrb{
    top: 10%;
    bottom: auto;
    margin: 0px;
    width: 30%;
}
#descripcion_foto_rb{
    color: #F8F9FC;
    font-size: 3vw;
    margin: 0px;
}
@font-face {
    font-family: 'Kdam Thmor Pro', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
}