#logo-header{
    width: 10%;
}
#icono{
    width: 1%;
}
.navbar-light{
    background-color: #F8F9FC;
}
.navbar-brand{
    font-size: medium;
}
body{
    background-color: black
    ;
    color: #F8F9FC
    ;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
#countdown{
    color: red 
    ;
    font-size: 5vw;
    text-align: center;
}
#punto-rojo{
    width: 15px;
    animation-name: punto_rojo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
#tituloCountdown{
    text-align: center;
}
@keyframes punto_rojo{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
#ranking-drivers{
    margin-left: 10px;
}
#conductores{
    margin-bottom: 40px;
}
#ranking-constructores{
    margin-left: 10px;
}
#footer{
    font-size: 1vw;
    background-color: #F8F9FC;
    color: black;
    margin-bottom: 0px;
    text-align: center;
}
#colf{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0%;
}
.browse-links{
    color: black;
}
#ulfooter{
    padding: 0%;
    list-style-type: none;
}