
#logo-header{
    width: 10%;
}
.navbar-light{
    background-color: #F8F9FC;
}
.navbar-brand{
    font-size: medium;
}
body{
    background-color: black
    ;
    color: #F8F9FC
    ;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
#descripcion_foto_mercedes{
    color: #F8F9FC;
    width: 30%;
    font-size: 3vw;
    transition: 1s;
    opacity: 0;
    transform: scale(0);
}
#descripcion_foto_mercedes.visible{
    opacity: 1;
    transform: scale(1);
}
#descmerc{
    background-color: black;
    margin-bottom: 100px;
    padding: 10px;
    color: #F8F9FC;
    transition: 1s;
    margin-top: 100px;
    opacity: 0;
    transform: translateX(-100px);
}
#descmerc.visible{
    opacity: 1;
    transform: translateX(0);
}
#fotoautos{
    width: 100%;
    margin-bottom: 0px;

}
.carousel-caption{
    top: 20%;
    bottom: auto;
    left: 20px;
    
}
.carousel-item{
    padding: 0px;
    margin: 0px;
}
.container-fluid{
    padding: 0px;
}

.row{width: 100%!important;
margin: 0px;}
#descripcion_foto_ferrari{
    color: #F8F9FC;
    width: 30%;
    font-size: 3vw;
    transition: 1s;
    opacity: 0;
    transform: translateX(-20px);
}
#descripcion_foto_ferrari.visible{
    opacity: 1;
    transform: translateX(0);
}
#descferrari{
    background-color: black;
    margin-bottom: 100px;
    padding: 10px;
    color: #F8F9FC;
    transition: 1s;
    margin-top: 100px;
    opacity: 0;
    transform: scale(0.1);
}
#descferrari.visible{
    opacity: 1;
    transform: scale(1);
}
#descrb{
    background-color: black;
    margin-bottom: 50px;
    padding: 10px;
    color: #F8F9FC;
    transition: 1s;
    margin-top: 50px;
    opacity: 0;
    transform: translateY(20px);
}
#descrb.visible{
    opacity: 1;
    transform: translateY(0);
}
#captionrb{
    top: 10%;
    bottom: auto;
    margin: 0px;
    width: 30%;
}
#descripcion_foto_rb{
    color: #F8F9FC;
    font-size: 3vw;
    margin: 0px;
    transition: 1s;
    opacity: 0;
    transform: translateY(50px);
}
#descripcion_foto_rb.visible{
    opacity: 1;
    transform: translateY(0);
}
#footer{
    font-size: 1vw;
    background-color: #F8F9FC;
    color: black;
    margin-bottom: 0px;
    text-align: center;
}
#colf{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0%;
}
.browse-links{
    color: black;
}
#ulfooter{
    padding: 0%;
    list-style-type: none;
}