/*h1{color:red;}
 Comentario */
/* comentario
*comentario


menu{
    list-style: none;
}


#logo-header{
    width: 5%;
}
*/
#logo-header{
    width: 10%;
}
#whatsapp{
    height: 30px;
    right: 20px;
    position:fixed
}
h1{color:black}
.navbar-light{
    background-color: #F8F9FC;
}
.navbar-brand{
    font-size: medium;
}
body{
    background-color: black
    ;
    color: #F8F9FC
    ;
}



#descripcion_foto{
    color: #F8F9FC;
    width: 30%;
    font-size: 3vw;
}
#descmerc{
    background-color: black;
    margin-bottom: 100px;
    padding: 10px;
    color: black;
    transition: 1s;
    margin-top: 100px;
}

#fotolewis{
    width: 100%;
    margin-bottom: 0px;

}
.carousel-caption{
    top: 20%;
    bottom: auto;
    left: 20px;
    
}
.container-fluid{
    padding: 0px;
}
#fotoferrari{
    width: 100%;
    margin-bottom: 50px;
}
@keyframes descripcion_mercedes{
    0% {color:black}
    100%{color:#F8F9FC}
}
/*#descw13{
    color: #F8F9FC;
    animation-name: descripcion_mercedes;
    animation-duration: 10s;
}
*/

#descmerc:hover{
color: #F8F9FC;
}